/* Reset some default styles */
body,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
font-family: Lexend;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: black;
  padding: 15px 20px;
  height: 60px;
  box-shadow: 0px 20px 20px 0px rgba(110, 47, 213, 0.03);
}

/* Logo */
.navbar-logo img {
  max-width: 100px;
  height: auto;
  margin-left: 60px;
flex-shrink: 0;
}

.ico{
    width: 14px;
height: 6px;
flex-Shrink: 0;
}
/* Navbar links */
.navbar-links ul {
  display: flex;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
  margin-left: 20px;
  font-family: Lexend;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navbar-links a:hover {
  color: #5d48e0; /* Change the color on hover */
}

/* Dropdowns */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #017575;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content ul {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown-content li {
  margin-bottom: 5px;
}

/* Navbar contact */
.navbar-contact button {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 60px;
  font-family: Lexend;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.contact-button{
width: 150px;
height: 50px;
flex-shrink: 0;
border-radius: 10px;
background: #5D48E0;
box-shadow: 0px 20px 50px 0px rgb(222, 219, 241);
border: none;

}
.slider{

background-image: url(./images/bg.png);
background-repeat: no-repeat;
background-position: 0px -27px;
background-size: 100%;
/* width: 1920px; */
height: 858px;
flex-shrink: 0;

}
.call-button{
    width: 250px;
height: 60px;
border-radius: 10px;
background: #5D48E0;
box-shadow: 0px 20px 50px 0px rgba(70, 89, 196, 0.20);
border: none;
color: white;
font-family: Lexend;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 20px;
}
.slider-container{
    text-align: center;
    padding-top: 40px;
}
.slider-container p {
    margin: 0;
}

.heading{
color: #050042;
font-size: 70px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin: 3px;
}
.heading span{
    font-weight: 600;
}
.paragraph-container{
    line-height: 40px;
}