/* Reset some default styles */
body,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
font-family: Lexend;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: black;
  padding: 15px 20px;
  height: 60px;
  box-shadow: 0px 20px 20px 0px rgba(110, 47, 213, 0.03);
}

/* Logo */
.navbar-logo img {
  max-width: 100px;
  height: auto;
  margin-left: 60px;
flex-shrink: 0;
}

.ico{
    width: 14px;
height: 6px;
flex-Shrink: 0;
}
/* Navbar links */
.navbar-links ul {
  display: flex;
}

.navbar-links li {
  margin-right: 80px;
}

.navbar-links a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
  margin-left: 20px;
  font-family: Lexend;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navbar-links a:hover {
  color: #5d48e0; /* Change the color on hover */
}

/* Dropdowns */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
  width: 10px;
  height: 100px;
  border-radius: 10px;
border: 0.2px solid #e2bdbd;
background: #FFF;
box-shadow: -10px 10px 30px -6px rgba(190, 186, 186, 0.1);
}

.dropdown-content ul {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown-content li {
  margin-bottom: 5px;
}

/* Navbar contact */
.navbar-contact button {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 60px;
  font-family: Lexend;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.contact-button{
width: 150px;
height: 50px;
flex-shrink: 0;
border-radius: 10px;
background: #5D48E0;
box-shadow: 0px 20px 50px 0px rgb(222, 219, 241);
border: none;

}
.slider{

background-image: url(./images/bg.png);
background-repeat: no-repeat;
background-position: 0px -27px;
background-size: 100%;
/* width: 1920px; */
height: 858px;
flex-shrink: 0;

}
.call-button{
    width: 250px;
height: 60px;
border-radius: 10px;
background: #5D48E0;
box-shadow: 0px 20px 50px 0px rgba(70, 89, 196, 0.20);
border: none;
color: white;
font-family: Lexend;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 20px;
}
.slider-container{
    text-align: center;
    padding-top: 40px;
}
.slider-container p {
    margin: 0;
}

.heading{
color: #050042;
font-size: 70px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin: 3px;
}
.heading span{
    font-weight: 600;
}
.paragraph-container{
    line-height: 40px;
}
.slider-gallery{
  position: relative;
  margin-top: 20px;

}
.gallery{
  display: flex;
  gap: 15px;
  align-items: center;
    justify-content: center;
}
.customize-image img{
  width: 450px;
  height:375px ;
  border-radius: 20px;
  box-shadow: 0px 30px 50px 0px rgba(93, 72, 224, 0.15);
}
.extra-first-part{
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
 
}
.for-bg-color{
  background-color: #f7f4ff;
  padding-top: 80px;
  padding-bottom: 50px;
}
.heading-para{
  color: #050042;
font-size: 54px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 75.6px */
text-transform: capitalize;
text-align: left;
margin: 0;
}
.heading-para span{
  font-weight: 600;
}
.title{
  color: #3B3E4E;
font-family: Open Sans;
font-size: 15px;
font-weight: 200;
line-height: 150%; /* 36px */
text-align: left;
}
.hyper-link{
  text-align: left;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #5D48E0;
}
.hyper-link img{
width: 12px;
height: 12px;
flex-shrink: 0;
}
.box-model{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 20px;
  row-gap: 20px;

}
.para-container{
  width: 300px;
  height: 300px;
  transform: rotate(-7.744deg);
  flex-shrink: 0;
  border-radius: 30px;
border: 0.2px solid #3B3E4E;
background: #FFF;
}
.para-container p{
  text-align: left;
  margin-left: 15px;
}
.para-container img{
  width: 50px;
height: 50px;
transform: rotate(-9.244deg);
flex-shrink: 0;
display: flex;
align-items: flex-start;
margin-left: 15px;
margin-top: 15px;
}
.para-hedeing{
  font-weight: 600;
  font-size: 20px;
  color: #050042;
}
.company-policy{
  margin-left: 200px;
  margin-right: 200px;
}
.c-title{
font-size: 54px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 64.8px */
text-transform: capitalize;
color: #050042;
text-align: center;
margin-bottom: 0%;
}
.c-title span{
  font-weight: 600;
}
.c-content{
  font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 150%;
color: #050042;
}

.compnay-table{
  width: 1400px;
height: 645px;
flex-shrink: 0;
border-radius: 30px;
background: #FFF;
}
.table-title{
  height: 100px;
  background-color: #5D48E0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px 30px 0px 0px;
  margin: 0 ;
}
.table-title p{
  color: #FFF;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}
.hr{
 width: 0.5px;
  background-color: #f7f4ff;
  height: 100px;
}